/* 版心 */
.container {
    width: 1190px;
    margin: 0 auto;
}


/* 頂部導航條 */
.topbar {
    background-color: #ECECEC;
    height: 30px;
}

.topbar-welcome {
    height: 30px;
    line-height: 30px;
    /* 消除span和a預設空白 */
    font-size: 0;
    color: #666666
}

.topbar-welcome span,
a {
    font-size: 12px;
}

.topbar-welcome .hello {
    margin-right: 28px;
}

.topbar-welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666666;
}

.topbar-welcome .register {
    padding-left: 10px;
}

.topbar-nav {}

.topbar-nav .list {
    line-height: 30px;
    height: 30px;
}

.topbar-nav .list li {
    float: left;
}

.topbar-nav .list li a {
    padding: 0px 15px;
    border-right: 1px solid #666666;
}

.topbar-nav .list li:first-child a {
    padding-left: 0px;
}

.topbar-nav .list li:last-child a {
    padding-right: 0px;
    border-right: 0;
}

/* 頂部導航條 */

/* 頭部 */
.header {
    height: 120px;
}

.header .logo img {
    height: 120px;
    width: 190px;
}

.header .search form {
    margin-top: 42px;
    /* 處理input跟button空白問題 */
    font-size: 0;
}

.header .search input {
    height: 34px;
    width: 508px;
    border: 1px solid #DD302D;
}

.header .search button {
    height: 36px;
    width: 80px;
    background-color: #DD302D;
    /* 兩個都midden也可以 */
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/search_icon.png);
}

/* 頭部 */

/* 主導航 */
.main-nav {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #DD302D;
}

.main-nav .all-type {
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    color: white;
    text-align: center;
    font-size: 16px;
}


.main-nav li {
    float: left;
    color: black;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

/* 主導航 */

/* 主內容區 */

.main-content {
    margin-top: 10px;
}

.main-content .side-nav {
    height: 458px;
    width: 190px;
    background-color: #F4F4F4;
    margin-right: 10px;
    /* 相對於爺爺 */
    position: relative;
}

.main-content .second-menu {
    background-color: #E3E3E3;
    position: absolute;
    width: 700px;
    height: 458px;
    top: 0;
    left: 190px;
    /* 預設不出現 */
    display: none;
}

.main-content .second-menu dl {
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
}

.main-content .second-menu dl:first-child {
    margin-top: 10px;
}

.main-content .second-menu dt {
    float: left;
    width: 70px;
    font-weight: bold;
    margin-right: 10px;
}

.main-content .second-menu dd {
    float: left;
}

/* 觸發的層級要抓得比較系有點煩 */
.main-content .second-menu dd a {
    padding: 0px 10px;
    border-left: 1px solid #666666;
}



.main-content .side-nav li>a {
    margin-left: 16px;
    /* 用margin or padding也可以 */
    line-height: 28px;
    color: #333333;
    font-size: 14px;
}

.main-content .side-nav li:first-child {
    margin-top: 5px;
}

.main-content .side-nav li:hover {
    background-color: #DD302D;
}

.main-content .side-nav li:hover .second-menu {
    display: block;
}


/* 用子代選擇器，不然連二級菜單都會變化 */
.main-content .side-nav li:hover>a {
    color: white;
}

.main-content .banner {
    height: 458px;
    width: 690px;
    background-color: #F4F4F4;
    margin-right: 10px;
}

.main-content .side-other {
    height: 458px;
    width: 290px;
}

.main-content .side-other .message {
    width: 260px;
    height: 156px;
    border: 1px solid #D9D9D9;
    padding-left: 14px;
    padding-right: 14px;
}

.main-content .side-other .message .title {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #D9D9D9;

}

.main-content .side-other .message .title span {
    font-size: 14px;
    color: black;
}

.main-content .side-other .message .title a {
    font-size: 12px;
    color: #999999;
}

.main-content .side-other .message .msg-list li {
    /* 用line-height這個寫法還是比較接近設計稿 */
    /* margin-bottom: 12px; */
    line-height: 26px;
    height: 26px;
}

/* 使用外邊距來創造行間距
需要額外處理第一個和最後一個元素的 margin
間距可能會因為瀏覽器的預設樣式或其他因素而產生細微差異
在某些情況下可能會出現意外的 margin collapse 問題 */
/* .main-content .side-other .message .msg-list li{
    margin-bottom: 12px;
}
.main-content .side-other .message .msg-list li:first-child{
    margin-top: 0;
}
.main-content .side-other .message .msg-list li:last-child{
    margin-bottom: 0;
} */

.main-content .side-other .message .msg-list a {
    font-size: 12px;
    color: #666666;
}


.main-content .side-other .other-nav {
    width: 290px;
    height: 290px;
    margin-top: 10px;
    /* 避免margin塌陷 */
    overflow: hidden;
}

.other-nav .other-nav-list:first-child {
    margin-top: 16px;
}

/* 第二個上下17px */
.other-nav .other-nav-list:nth-child(2) {
    margin: 17px 0px;
}

.other-nav-list li {
    width: 48px;
    height: 70px;
    float: left;
    margin: 0px 11px;
    text-align: center;
}

.other-nav-list li:first-child {
    margin-left: 16px;
}

.other-nav-list .picture {
    width: 48px;
    height: 48px;
    background-image: url(../images/精灵图-侧边功能.png);
}

.other-nav-list:nth-child(1) li:nth-child(1) .picture {
    background-position: 0px 0px;
}

.other-nav-list:nth-child(1) li:nth-child(2) .picture {
    background-position: -48px 0px;
}

.other-nav-list:nth-child(1) li:nth-child(3) .picture {
    background-position: -96px 0px;
}

.other-nav-list:nth-child(1) li:nth-child(4) .picture {
    background-position: -144px 0px;
}

.other-nav-list:nth-child(2) li:nth-child(1) .picture {
    background-position: 0px -48px;
}

.other-nav-list:nth-child(2) li:nth-child(2) .picture {
    background-position: -48px -48px;
}

.other-nav-list:nth-child(2) li:nth-child(3) .picture {
    background-position: -96px -48px;
}

.other-nav-list:nth-child(2) li:nth-child(4) .picture {
    background-position: -144px -48px;
}


.other-nav-list:nth-child(3) li:nth-child(1) .picture {
    background-position: 0px -96px
}

.other-nav-list:nth-child(3) li:nth-child(2) .picture {
    background-position: -48px -96px
}

.other-nav-list:nth-child(3) li:nth-child(3) .picture {
    background-position: -96px -96px
}

.other-nav-list:nth-child(3) li:nth-child(4) .picture {
    background-position: -144px -96px
}

/* 主內容區 */

/* 秒殺 */

.seckill {
    margin-top: 10px;
    overflow: hidden;
}

.seckill img {
    float: left;
    margin-right: 11px;
    /* 鼠標變化可以點擊 */
    cursor: pointer;
}

.seckill img:last-child {
    margin-right: 0px;
}


/* 秒殺 */

/* 樓層 */
.floor {
    margin-top: 48px;
}

.floor .floor-nav {
    height: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid #DD302D;
}

.floor .floor-nav-list li {
    float: left;
    font-size: 14px;
}

.floor .floor-nav-list li a {
    padding: 0px 10px;
    border-right: 1px solid #666666;
}

.floor .floor-nav-list li:first-child a {
    padding-left: 0px;
}

.floor .floor-nav-list li:last-child a {
    padding-left: 10px;
    padding-right: 0px;
    border: 0px;
}

.floor .floor-info {}

.floor .floor-info .item {
    float: left;
}

.floor .floor-info .item1 {
    width: 190px;
    height: 392px;
    background-color: #F4F4F4;
    padding: 20px;
}


.floor .floor-info .item1 .item1-list {
    width: 190px;
    background-color: #F4F4F4;
    margin-bottom: 30px;
}

.floor .floor-info .item1 .item1-list li {
    height: 22px;
    width: 90px;
    padding-bottom: 3.5px;
    border-bottom: 1px solid #D9D9D9;
    text-align: center;
}

.floor .floor-info .item1 .item1-list li a {
    font-size: 16px;
}

.floor .floor-info .item1 .item1-list li:nth-child(2n-1) {
    float: left;
}

.floor .floor-info .item1 .item1-list li:nth-child(2n) {
    float: right;
}

.floor .floor-info .item1 .item1-list li:nth-child(3),
.floor .floor-info .item1 .item1-list li:nth-child(4) {
    margin: 10px 0px;
}



.floor .floor-info .item2 {
    width: 340px;
    height: 432px;
}

.floor .floor-info .item3 {
    width: 206px;
    height: 432px;
    border-right: 1px solid #E2E2E2;
}

.floor .floor-info .item3 img,
.floor .floor-info .item4 img,
.floor .floor-info .item5 img {
    border-bottom: 1px solid #E2E2E2;
}

.floor .floor-info .item4 {
    width: 206px;
    height: 432px;
    background-color: blue;
    border-right: 1px solid #E2E2E2;
}

.floor .floor-info .item5 {
    width: 206px;
    height: 432px;
}

/* 樓層 */