/* 版心 */
.container {
    width: 1190px;
    margin: 0 auto;
}


/* 頂部導航條 */
.topbar {
    background-color: #ECECEC;
    height: 30px;
}

.topbar-welcome {
    height: 30px;
    line-height: 30px;
    /* 消除span和a預設空白 */
    font-size: 0;
    color: #666666
}

.topbar-welcome span,
a {
    font-size: 12px;
}

.topbar-welcome .hello {
    margin-right: 28px;
}

.topbar-welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666666;
}

.topbar-welcome .register {
    padding-left: 10px;
}

.topbar-nav {}

.topbar-nav .list {
    line-height: 30px;
    height: 30px;
}

.topbar-nav .list li {
    float: left;
}

.topbar-nav .list li a {
    padding: 0px 15px;
    border-right: 1px solid #666666;
}

.topbar-nav .list li:first-child a {
    padding-left: 0px;
}

.topbar-nav .list li:last-child a {
    padding-right: 0px;
    border-right: 0;
}

/* 頂部導航條 */

/* 頭部 */
.header {
    height: 120px;
}

.header .logo img {
    height: 120px;
    width: 190px;
}

.header .search form {
    margin-top: 42px;
    /* 處理input跟button空白問題 */
    font-size: 0;
}

.header .search input {
    height: 34px;
    width: 508px;
    border: 1px solid #DD302D;
}

.header .search button {
    height: 36px;
    width: 80px;
    background-color: #DD302D;
    /* 兩個都midden也可以 */
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/search_icon.png);
}

/* 頭部 */

/* 主導航 */
.main-nav {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #DD302D;
}

.main-nav .all-type {
    width: 190px;
    height: 48px;
    background-color: #DD302D;
    color: white;
    text-align: center;
    font-size: 16px;
}


.main-nav li {
    float: left;
    color: black;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

/* 主導航 */

/* 主內容區 */

.main-content {
    margin-top: 10px;
}

.main-content .side-nav {
    height: 458px;
    width: 190px;
    background-color: #F4F4F4;
    margin-right: 10px;
    /* 相對於爺爺 */
    position: relative;
}

.main-content .second-menu {
    background-color: #E3E3E3 ;
    position: absolute;
    width: 700px;
    height: 458px;
    top: 0;
    left: 190px;
    /* 預設不出現 */
    display: none;
}

.main-content .second-menu dl{
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
}

.main-content .second-menu dl:first-child{
    margin-top: 10px;
}

.main-content .second-menu dt{
    float: left;
    width: 70px;
    font-weight: bold;
    margin-right: 10px;
}

.main-content .second-menu dd{
    float: left;
}
/* 觸發的層級要抓得比較系有點煩 */
.main-content .second-menu dd a{
    padding: 0px 10px;
    border-left: 1px solid #666666;
}



.main-content .side-nav li>a {
    margin-left: 16px;
    /* 用margin or padding也可以 */
    line-height: 28px;
    color: #333333 ;
    font-size: 14px;
}

.main-content .side-nav li:first-child {
    margin-top: 5px;
}

.main-content .side-nav li:hover {
    background-color: #DD302D;
}

.main-content .side-nav li:hover .second-menu {
    display: block;
}


/* 用子代選擇器，不然連二級菜單都會變化 */
.main-content .side-nav li:hover>a {
    color: white;
}

.main-content .banner {
    height: 458px;
    width: 690px;
    background-color: #F4F4F4;
    margin-right: 10px;
}

.main-content .side-other {
    height: 458px;
    width: 290px;
    background-color: #F4F4F4;
}



/* 主內容區 */